/* =============== */

.highlight-fade {
    animation-name: yellowfade;
    animation-duration: 5s;
    animation-delay: 2s;
}

@keyframes yellowfade {
    from {
        background: yellow;
    }
    to {
        background: transparent;
    }
}

/* Spinner */

@keyframes spinner-spin {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spinner-fade {
    20% {
        opacity: .1;
    }
    40% {
        opacity: 1;
    }
    60% {
        opacity: .1;
    }
}