.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown>.dropdown-toggle:active {
    pointer-events: none;
}

.bg-primary {
    background-color: #212529 !important;
    color: #f3f3f3;
}

.bg-secondary {
    background-color: #343a40 !important;
    color: #f3f3f3;
    border-color: #222831;
}

.bg-secondary .shadow, .bg-secondary.shadow {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .30) !important
}

.code {
    background-color: #121212 !important;
    color: #cc11cc;
    margin-top: 3px;
}

.text-light {
    color: #f3f3f3 !important;
}

.navbar a, .txt-color-primary {
    color: #eeeeee !important;
}

.dropdown-menu>a:hover, .dropdown-menu>a:focus {
    background-image: none !important;
    background-color: #222831;
}

/* Timer Styles */

.timer-label {
    max-width: 175px;
    padding: 0px;
}

/* Spinner */

.spinner {
    position: relative;
    margin: auto;
    box-sizing: border-box;
    background-clip: padding-box;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 4px solid rgba(255, 255, 255, 0.1);
    -webkit-mask: linear-gradient(rgba(0, 0, 0, 0.1), #000000 90%);
    transform-origin: 50% 60%;
    transform: perspective(200px) rotateX(66deg);
    animation: spinner-wiggle 1.2s infinite;
}

.spinner:before, .spinner:after {
    content: "";
    position: absolute;
    margin: -4px;
    box-sizing: inherit;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    opacity: .05;
    border: inherit;
    border-color: transparent;
    animation: spinner-spin 1.2s cubic-bezier(0.6, 0.2, 0, 0.8) infinite, spinner-fade 1.2s linear infinite;
}

.spinner:before {
    border-top-color: #66e6ff;
}

.spinner:after {
    border-top-color: #f0db75;
    animation-delay: 0.3s;
}

/*==========Scroll Bar=========*/

div::-webkit-scrollbar {
    width: 0.75em;
}

div::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

div::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}